<!-- <h1 mat-dialog-title>Produkt hinzufügen</h1>
<div mat-dialog-content>
  <form #productForm="ngForm">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Produktname</mat-label>
      <input matInput [(ngModel)]="newProduct.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Kategorie</mat-label>
      <input matInput [(ngModel)]="newProduct.category" name="category" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Unterkategorie</mat-label>
      <input matInput [(ngModel)]="newProduct.subcategory" name="subcategory" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Preis</mat-label>
      <input matInput type="number" [(ngModel)]="newProduct.price" name="price" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Lagerbestand</mat-label>
      <input matInput type="number" [(ngModel)]="newProduct.stockQuantity" name="stockQuantity" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput [(ngModel)]="newProduct.description" name="description"></textarea>
    </mat-form-field>

     Weitere Felder für alle Informationen -->
    <!-- <mat-form-field appearance="fill" class="form-field">
      <mat-label>Marke</mat-label>
      <input matInput [(ngModel)]="newProduct.brand" name="brand" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Rabattpreis</mat-label>
      <input matInput type="number" [(ngModel)]="newProduct.discountPrice" name="discountPrice" />
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onAddProduct()">Speichern</button>
</div>  -->
