<!-- <h1>Produkt bearbeiten</h1>
<form *ngIf="product" (ngSubmit)="saveChanges()" #editForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="product.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kategorie</mat-label>
    <input matInput [(ngModel)]="product.category" name="category" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preis</mat-label>
    <input matInput type="number" [(ngModel)]="product.price" name="price" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lagerbestand</mat-label>
    <input matInput type="number" [(ngModel)]="product.stockQuantity" name="stockQuantity" />
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit">Speichern</button>
    <button mat-button color="warn" routerLink="/">Abbrechen</button>
  </div>
</form>
 -->
