<div class="list-page">
  <div class="headline-container">
    <div class="h1">Lagerbestand</div>
    <div class="buttons-container">
      <button class="btn primary-btn" (click)="addProduct()">Produkte Hinzufügen</button>
      <!-- <button class="btn secondary-btn" (click)="editProduct()">Produkte Ändern</button>
      <button (click)="addCategory()">Kategorie hinzufügen</button>
      <button (click)="addSubcategory()">Unterkategorie hinzufügen</button> -->

      

      
    </div>
  </div>

  <h1>Produktliste</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Preis</th>
        <th>Lagerbestand</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }} €</td>
        <td>{{ product.stockQuantity }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
